html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  background: #373636;
  color: #fff;
}

.Pagination{
  margin: 50px 0 20px 0;
}

.Page{
  display: inline-block;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
  padding: 2px 6px;
	margin-bottom: 6px;
  cursor: pointer;
	transition: color 0.3s;

  &:last-child{
    border-right: none;
  }

	&:hover{
		color: #c6a8a8;
	}
}

.Current-page{
  color: grey;
  cursor: auto;
  pointer-events: none;
}

.Media{
	margin: 40px 0;
  padding: 30px 0px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.Media-block{
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;

  &__poster{
    width: 300px;
    //opacity: 0;
  }

  &__poster-img{
    display: block;
    width: 100%;
  }

  &__info{
    width: 800px;
    padding: 0 30px;
  }

  &__title{
    font-size: 20px;
    font-weight: 500;
  }

  &__table{
    width: 100%;
  }

  &__info-row{
    border-bottom: 1px solid grey !important;
  }

  &__info-col{
    font-size: 16px;
    padding: 4px;
    text-align: left;
    vertical-align: top;
  }

  .col-th{
    font-weight: 500;
    width: 160px;
  }

  &__details{
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0;
    text-align: center;
    color: #d1d15b;
    transition: color 0.3s;

    &:hover{
      color: #8b8b5b;
      cursor: pointer;
    }
  }
}

.App {
  padding: 5%;
}

.App-title{
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

.Search-form{
  margin: 0 auto;
  max-width: 600px;
}

.Form-row{
	display: flex;
  margin-top: 20px;
}

.Form-group{
	display: flex;
	align-items: center;
	position: relative;
}

.Form-label{
  margin-right: 8px;
  font-size: 14px;
}

.Input, .select{
	border: 2px solid #756a6a;
  border-radius: 6px;
  padding: 6px 16px;
  background: #2C2C33;

  color: #fff;
  transition: all 0.3s;

	&:focus{
    border-color: #CC1D1D;
  }
}

.Search-input{
  border: 2px solid #756a6a;
  border-radius: 6px;
  padding: 6px 16px;
  background: #2C2C33;
  width: 100%;
  color: #fff;
  transition: all 0.3s;

  &:focus{
    border-color: #CC1D1D;
  }
}

.Help-block{
  display: none;
  position: absolute;
  bottom: -16px;
  left: 0;
  color: red;
  font-size: 12px;
}

.Search-submit{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: url("/images/icons/search-icon.svg") center center no-repeat;
  border: none;
  width: 50px;
  height: 100%;
}

.By-year{
  width: 30px;
  margin-right: 30px;
}

.Search-status{
	color: #29c229;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	margin: 40px 0;
}

.box{
  box-sizing: border-box;
}

a:active, a:focus { outline: none; }

input, textarea, button:focus {outline:none;}
input:active, button:active textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
